<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="../../static/lib/semantic-ui/semantic.min.css" th:href="@{/lib/semantic-ui/semantic.min.css}">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/icon.min.css'>
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <style>th {background-color: hsla(0, 0%, 100%, .001) !important;}</style>
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui attached segment m-padded-tb-mini m-shadow-small m-bg">
    <div class="ui container">
        <div class="ui secondary stackable menu">
            <a href="../index.html" class="item" title="首页">
                <h1 class="ui header item">Ratrme</h1>
            </a>
            <a href="../index.html" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="../types.html" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="../tags.html" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/touxiang.jpg" th:src="@{/images/touxiang.jpg}" alt="" class="ui avatar image">
                        Ratrme
                    </div>
                    <i class="ui dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui inverted attached secondary  menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="red basic item">发布</a>
            <a href="#" class="active blue basic item">清单</a>
        </div>
    </div>
</div>

<!--中间部分-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" class="ui blue segment form m-bg">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="tittle" placeholder="标题" class="m-bg" style="width: 250px!important;">
                </div>
                <div class="field">
                    <div class="ui selection dropdown m-bg">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text" style="width: 205px!important;">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1">前端</div>
                            <div class="item" data-value="2">后端</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="recommend" id="recommend">
                        <label for="recommend">
                            推荐
                        </label>
                    </div>
                </div>
                <div class="field" style="margin-left: 130px!important;">
                    <button class="ui small basic button"><i class="save icon"></i>新增</button>
                </div>

                <div class="field">
                    <button class="ui small basic button"><i class="search icon"></i>查询</button>
                </div>


            </div>
        </form>
        <table class="ui center aligned table m-bg">
            <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>类型</th>
                <th>推荐</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>vue入门</td>
                <td>学习</td>
                <td>是</td>
                <td>2022-11-19</td>
                <td>
                    <a href="#" class="ui blue basic mini button">编辑</a>
                    <a href="#" class="ui red basic mini button">删除</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>vue入门</td>
                <td>学习</td>
                <td>是</td>
                <td>2022-11-19</td>
                <td>
                    <a href="#" class="ui blue basic mini button">编辑</a>
                    <a href="#" class="ui red basic mini button">删除</a>
                </td>
            </tr>
            </tbody>
            <tr>
                <th colspan="6">
                    <div class="ui inverted menu m-bg">
                        <div class="left aligned item">
                            <a href="#" class="ui mini grey basic button">上一页</a>
                        </div>
                        <div class="right aligned item">
                            <a href="#" class="ui mini grey basic button">下一页</a>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted stackable grid">
            <div class="three wide column">
                <div class="ui vertical link list">
                    <div class="item">
                        <img src="../../static/images/weixin.jpg" th:src="@{/images/weixin.jpg}" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui header m-text-thin m-text-spaced">最新的博客</h4>
                <div class="ui link list">
                    <a href="#" target="_blank" class="item">SpringBoot</a>
                    <a href="#" target="_blank" class="item">SpringBoot</a>
                    <a href="#" target="_blank" class="item">SpringBoot</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui link list">
                    <span class="m-text-thin m-text-spaced m-opacity-mini">Email:ratrmelxy@gmail.com</span>
                    <span class="m-text-thin m-text-spaced m-opacity-mini">QQ:1628337281</span>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui header m-text-thin m-text-spaced">博客</h4>
                <div class="ui link list">
                    <p class="m-text-thin m-text-spaced m-opacity-mini">
                        本博客是自己通过代码构建的。前端都使用了一些HTML+CSS+JS等前端框架，后端使用了JAVA和SpringBoot框架。对这些技术有兴趣的朋友可以联系我，我们一起学习进步。</p>
                </div>
            </div>
        </div>
        <div class="ui section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2022 CPP Designed by Lu xiaoyang</p>
    </div>
</footer>

<script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../../static/lib/semantic-ui/semantic.min.js" th:src="@{/lib/semantic-ui/semantic.min.js}"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown();
</script>

</body>
</html>